html, body {
	background: linear-gradient(0deg, rgba(26, 25, 46, 0.75), rgba(26, 25, 46, 0.75)), url(../img/AdobeStock_139923006_Preview.jpeg) no-repeat fixed center;
	background-size: cover;
	height: 100%;
}
a {
	color: #F2B57B;
	margin-top: 50px;
	padding-left: 50px;
}
a:hover {
	color: rgba(215, 85, 15, 0.71);
}
h1 {
	color: #F2B57B;
	font-family: Pacifico;
	font-size: 55px;
}
p {
	color: white;
	font-family: Questrial;
	font-size: 26px;
	line-height: 1.4;
}